body {
	background: #FFF;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.not-ready {
	display: none;
}

.mega {
	background-color: rgba(0,0,0,0.05);
	margin: 0;
	padding: 0;
	text-align: left;
	height: auto;
	width: 100vw;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}

.mega article.u-pn {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.mega article.u-pt {
	padding-top: 0rem;
}

@media (min-height: 500px) {
	.mega article.u-pt {
		padding-top: 4.2rem;
	}
}

.mega h1 {
	font-size: 5rem;
}


.brand { display: block; position: absolute; left: 0.5rem; top: 0.8rem; }

.brand i {
    font-size: 1.8rem;
	vertical-align: middle;
}

.brand span {
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1rem;
	vertical-align: middle;
}

.brand span b {
	font-weight: 700;
}

@media (min-width: 400px) {

	.mega article.u-pn {
		margin-left: 3rem;
		padding-left: 0;
		padding-right: 0;
	}

	.mega {
		background-color: rgba(0,0,0,0.05);
		margin: 1rem;
		padding: 0rem 0rem;
		text-align: center;
		height: 55rem;
		width: 100vw;
		box-sizing: border-box;
		display: table-cell;
		vertical-align: middle;
	}

	.mega h1 {
		font-size: 10rem;
	}

}

@media (min-width: 400px) {
	.mega {
		padding: 6rem 3rem;
		text-align: center;
		height: 55rem;
		width: 100vw;
		box-sizing: border-box;
		display: table-cell;
		vertical-align: middle;
	}

	.mega article.u-pn {
		margin-left: auto;
	}
}


.mega .links {
	position: absolute;
	top: 0;
	width: auto;
	left: 0;
	right: 0;
	box-sizing: border-box;
	padding: 0 2rem;
}



.attributes ul {
	list-style: none;
}

.attributes > ul > li {
	clear: both;
	display: block;
	margin-bottom: 3rem;
	padding-bottom: 1rem;
}

.attributes > ul > li > ul {
	clear: both;
}

.attributes li > h5 {
	border-bottom: 1px solid #DDD;
}

.attributes li > h5 > label {
	display: inline;
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 0.5rem;
}

.attributes li > h5 > span {
	display: inline;
	font-size: 2rem;
	font-weight: bold;
}

.attributes > ul > li > ul > li {
	clear: both;
	min-height: 3rem;
}

.attributes li > label {
	float: left;
	font-size: 1.5rem;
	height: 3rem;
	width: 9rem;
	padding: 0 1rem 0 1rem;
}

.attributes li > p {
	font-size: 1.5rem;
}

.button-icon {
	height: 5rem;
	width: 5rem;
	min-width: 5rem;
	padding: 0;
	line-height: 1.9rem;
	letter-spacing: 0rem;
	font-size: 2.6rem;
	vertical-align: top;
	text-align: center;
}


.button-small {
	height: 4rem;
	padding: 0 2.1rem;
	line-height: 1.9rem;
	letter-spacing: 0rem;
	font-size: 1.6rem;
	vertical-align: top;
	text-align: center;
}

.button-small.button-icon {
	height: 4rem;
	width: 4rem;
	min-width: 4rem;
	padding: 0;
	line-height: 1.3rem;
	letter-spacing: 0rem;
	font-size: 2.1rem;
	vertical-align: top;
	text-align: center;
}

.button-extra-small {
	height: 3rem;
	padding: 0 2.1rem;
	line-height: 2.9rem;
	letter-spacing: 0rem;
	font-size: 1.2rem;
	vertical-align: top;
	text-align: center;
}

.button-extra-small.button-icon {
	height: 3rem;
	width: 3rem;
	min-width: 3rem;
	padding: 0;
	line-height: 1rem;
	letter-spacing: 0rem;
	font-size: 1.5rem;
	vertical-align: top;
	text-align: center;
}

.icon-extra-small {
	height: 3rem;
	width: 3rem;
	min-width: 3rem;
	padding: 0;
	line-height: 1rem;
	letter-spacing: 0rem;
	font-size: 1.5rem;
	vertical-align: top;
	text-align: center;
	border-radius: 0.3rem;
}

.button-primary.button-red {
	background: #d2666f;
	border: #d2666f;
}

.button-primary.button-red:focus, .button-primary.button-red:hover {
	background: #d2392b;
	border: #d24436;
}

.u-nd {
	text-decoration: none!important;
}

.u-vertical-separator {
	display: inline-block;
	width: 0.5rem;
	border-radius: 4px;
	background: rgba(0,0,0,0.1);
	height: 5rem;
	font-size: 0;
	vertical-align: top;
}

.u-vertical-separator-small {
	display: inline-block;
	width: 0.4rem;
	border-radius: 3px;
	background: rgba(0,0,0,0.1);
	height: 4rem;
	font-size: 0;
	vertical-align: top;
}

.u-vertical-separator-extra-small {
	display: inline-block;
	width: 0.3rem;
	border-radius: 2px;
	background: rgba(0,0,0,0.1);
	height: 3rem;
	font-size: 0;
	vertical-align: top;
}

.navigation-icon {
	margin-top: 0.15rem;
	margin-right: 0.2rem;
}

hr {
	border-top-width: 2.5rem;
	border-top-color: rgba(0,0,0,0.05);
}

h1.tag {
	font-weight: 400;
	text-overflow: ellipsis;
}

h1.tag em {
	font-weight: 600;
	color: rgba(0,0,0,0.9);
}

article.u-pt {
	padding-top: 4rem;
}

article.u-pn {
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 400px) {
	article.u-pn {
		padding-left: 6rem;
		padding-right: 2rem;
	}
}



article.right {
	padding-top: 4rem;
	padding-left: 6rem;
	padding-right: 2rem;
}

iconic-navigation.slide ~ article, iconic-navigation.slide ~ iconic-footer  {
	transition: margin 200ms ease-in-out;
}

iconic-navigation.slide ~ .mega {
	transition: padding 200ms ease-in-out;
}

iconic-navigation.slide.expand ~ article, iconic-navigation.slide.expand ~ iconic-footer  {
	margin-left: 25rem;
	transition: margin 200ms ease-in-out;
}

iconic-navigation.slide.expand ~ .mega {
	padding-left: 27rem;
	transition: padding 200ms ease-in-out;
}

@media (min-width: 750px) {
	iconic-navigation.auto ~ article, iconic-navigation.auto ~ iconic-footer  {
		margin-left: 25rem;
	}

	iconic-navigation.auto ~ .mega {
		padding-left: 27rem;
	}
}

blockquote .icon {
	font-size: 6rem;
	color: rgba(100,100,100,0.5);
	left: 0rem;
	top: 3rem;
	margin-right: 2rem;
	z-index: -1;
	vertical-align: bottom;
	float: left;
	height: 6rem;
}
