a {                                 color: rgba(0, 215, 180, 0.9); }
a:hover {                           color: rgba(33, 199, 178, 0.9); }
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: rgba(255,255,255, 1);
	background-color: rgba(0, 215, 180, 0.9);
	border-color: rgba(0, 215, 180, 0.9); }
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus,
button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: rgba(255,255,255, 1);
	background-color: rgba(0, 180, 170, 0.9);
	border-color: rgba(0, 180, 170, 1); }
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus,
input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border-color: rgba(33, 199, 178, 0.7); }

.icon-inverted {
	color: rgba(255,255,255,1);
	background-color: rgba(100,100,100,0.5 );
	border-color: rgba(50,50,50,0.15 );
}

.active .icon-inverted {
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.4 );
	border-color: rgba(0,0,0,0.1 );
}


/* <iconic-announcement/> */

iconic-announcement {
	background: rgba(100,100,100,0.9);
	color: rgba(255,255,255,0.8);
}

iconic-announcement .badge {
	background: rgba(100,100,100,0.3);
	border-right: 1px solid rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.3);
}

iconic-announcement em {
	font-style: normal;
	color: rgba(255, 255, 255, 0.9);
}

iconic-announcement.warning {
	background: rgba(200,100,100,0.9);
	color: rgba(255,255,255,0.8);
}

iconic-announcement.warning .badge {
	background: rgba(255,0,0,0.4);
	border-right: 1px solid rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.3);
}

iconic-announcement.warning .content {
	background: rgba(255,0,0,0.3);
}

iconic-announcement.warning em {
	font-style: normal;
	color: rgba(255, 255, 255, 0.9);
}

iconic-announcement.success {
	background: #089;
	color: rgba(255,255,255,0.8);
}

iconic-announcement.success .badge {
	background: #089;
	border-right: 1px solid rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.3);
}

iconic-announcement.success .content {
	background: #089;
}

iconic-announcement.success em {
	font-style: normal;
	color: rgba(255, 255, 255, 0.9);
}

/* <iconic-button/> */

iconic-button i {
	display: inline-flex;
}

/* <iconic-navigation/> */

iconic-navigation {
	background: #cdcdcd;
}

iconic-navigation > ul {
	background: #d6fff7;
}

iconic-navigation > ul a {
	color: #999;
	background: #d6fff7;
}

iconic-navigation > ul a:hover {
	color: #222;
	background: #95f2e2;
}

iconic-navigation > ul a.active {
	background: #00d4b4;
	color: #FFF;
}

iconic-navigation > ul a.active:hover {
	background: #00b4a9;
	color: #FFF;
}

iconic-navigation iconic-tip a {
	color: #fff;
	font-size: 2rem;
	text-decoration: none;
}

/* <iconic-well/> */

iconic-well {
	background: rgba(255,255,255,0.2);
}

.best-orange {
	background: #ff886c;
}
