body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

article {
	display: block;
	padding: 4rem 6rem 0 6rem;
	position: relative;
}

article demo {
	margin-bottom: 3rem;
}

@media (min-width: 750px) {
	article.right {
		padding: 4rem 6rem 0 32rem;
	}

	article.left {
		padding: 4rem 32rem 0 6rem;
	}
}

blockquote {
	color: #AAA;
	font-size: 2.5rem;
	margin-left: 0;
	padding-left: 0;
}

header:first-child {
	padding-top: 0;
	border-top: none;
}

header {
	border-top: 1px solid #DDD;
	padding-top: 6rem;
}

mbs-footer {
	margin-top: 4rem;
	z-index: 2;
}

section {
	clear: both;
	display: block;
	padding-top: 4rem;
	position: relative;
}

.attributes ul {
	list-style: none;
}

.attributes > ul > li {
	clear: both;
	display: block;
	margin-bottom: 3rem;
	padding-bottom: 1rem;
}

.attributes > ul > li > ul {
	clear: both;
}

.attributes li > h5 {
	border-bottom: 1px solid #DDD;
}

.attributes li > h5 > label {
	display: inline;
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 0.5rem;
}

.attributes li > h5 > span {
	display: inline;
	font-size: 2rem;
	font-weight: bold;
}

.attributes > ul > li > ul > li {
	clear: both;
	min-height: 3rem;
}

.attributes li > label {
	float: left;
	font-size: 1.5rem;
	height: 3rem;
	width: 9rem;
	padding: 0 1rem 0 1rem;
}

.attributes li > p {
	font-size: 1.5rem;
}

.button-sample {
	clear: both;
	display: block;
	padding: 3rem;
	position: relative;
}

.button-sample > h6 {
	font-weight: bolder;
}

.button-sample > iconic-button {
	margin-left: 1rem;
}

.not-ready {
	display: none;
}

.tag-name {
	text-overflow: ellipsis;
	font-size: 4rem;
}

@media (min-width: 750px) {
	.tag-name {
		font-size: 5.5rem;
		white-space: nowrap;
		overflow: hidden;
	}
}

iconic-button i {
	display: inline-flex;
}
